@{
    @model NewsWebsite.ViewModel.User.UserVM
    Layout = "~/Views/Shared/_Layout.cshtml";
    string dob = Model.DoB.ToString("yyyy-MM-dd");

}
@section Styles{
    <link href="~/css/MyCustom.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-fileinput/css/fileinput.css" rel="stylesheet" />
}
@section Scripts{
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/bootstrap-fileinput/js/plugins/buffer.js"></script>
    <script src="~/lib/bootstrap-fileinput/js/plugins/filetype.js"></script>
    <script src="~/lib/bootstrap-fileinput/js/plugins/piexif.js"></script>
    <script src="~/lib/bootstrap-fileinput/js/plugins/sortable.js"></script>
    <script src="~/lib/bootstrap-fileinput/js/fileinput.js"></script>
    <script src="~/app/controllers/User/EditUser/Index.js"></script>
}
<div class="card">
    <div class="card-header bg-primary">
        <h3 class="card-title text-center text-white">Thông tin cá nhân</h3>
    </div>
    <div class="card-body">
        <form enctype="multipart/form-data" id="formUpdate" asp-action="Edit" asp-controller="User" method="post">
            <div class="row mb-2">
                <div class="col-4">
                    <h3 class="text-center">
                        @*@if (ViewData["path"] != null)
                        {
                            <input id="pathImage" hidden type="text" value=@ViewData["path"].ToString() />
                        }
                        else
                        {
                            <input id="pathImage" hidden type="text" value="https://as1.ftcdn.net/v2/jpg/03/53/11/00/1000_F_353110097_nbpmfn9iHlxef4EDIhXB1tdTD0lcWhG9.jpg" />
                        }*@
                        <div class="mb-2" style="font-weight:400">Ảnh</div>
                        <div class="kv-avatar">
                            <div class="file-loading ">
                                <input enctype="multipart/form-data" value="@Model.PathImageAvatar" name="ImageUser" enctype="multipart/form-data" id="avatar-1" type="file" required>
                            </div>
                        </div>
                    </h3>
                </div>
                <div class="col-4">
                    <input hidden value="@Model.Id" type="text" name="Id" class="form-control form-control-lg" />
                    <div class="form-outline m-3">
                        <label class="form-label" style="font-weight: 500;">
                            *Họ
                        </label>
                        <input id="txtLastName" value="@Model.LastName" type="text" name="LastName" class="form-control form-control-lg" />
                        <div id="error_last_name" class="mt-1 error">
                        </div>
                    </div>
                    <div class="form-outline m-3">
                        <label class="form-label" style="font-weight: 500;">
                            *Tên
                        </label>
                        <input id="txtFirstName" value="@Model.FirstName" type="text" name="FirstName" class="form-control form-control-lg" />
                        <div id="error_first_name" class="mt-1 error">
                        </div>
                    </div>
                    <div class="form-outline m-3">
                        <label class="form-label" style="font-weight: 500;">
                            *Nick
                            Name
                        </label>
                        <input id="txtNickName" value="@Model.NickName" name="NickName" type="text" class="form-control form-control-lg" />
                        <div id="error_nick_name" class="mt-1 error">
                        </div>
                    </div>
                    <div class="form-outline m-3">
                        <label class="form-label" style="font-weight: 500;">
                            *Giới tính
                        </label>
                        @if (Model.Gender == true)
                        {
                            <div class="d-md-flex justify-content-around align-items-center">
                                <div class="form-check form-check-inline mb-0 me-4">
                                    <input class="form-check-input" type="radio"
                                           id="femaleGenderRadio" value="option1" />
                                    <label class="form-check-label" for="femaleGenderRadio">Nữ</label>
                                </div>
                                <div class="form-check form-check-inline mb-0 me-4">
                                    <input class="form-check-input" type="radio"
                                           id="maleGenderRadio" value="option2" checked="true" />
                                    <label class="form-check-label" for="maleGenderRadio">Nam</label>
                                </div>

                            </div>
                            <br />
                            <br />
                            <input type="text" name="Gender" id="checkGender" value="true" hidden>
                        }
                        else
                        {
                            <div class="d-md-flex justify-content-around align-items-center">
                                <div class="form-check form-check-inline mb-0 me-4">
                                    <input class="form-check-input" type="radio"
                                           id="femaleGenderRadio" value="option1" checked="true" />
                                    <label class="form-check-label" for="femaleGenderRadio">Nữ</label>
                                </div>
                                <div class="form-check form-check-inline mb-0 me-4">
                                    <input class="form-check-input" type="radio"
                                           id="maleGenderRadio" value="option2" />
                                    <label class="form-check-label" for="maleGenderRadio">Nam</label>
                                </div>

                            </div>
                            <br />
                            <br />
                            <input type="text" name="Gender" id="checkGender" value="false" hidden>
                        }
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-outline m-3">
                        <label class="form-label"
                               style="font-weight: 500;">*Số điện thoại</label>
                        <input id="txtPhone" value="@Model.Phone" name="Phone" type="text" class="form-control form-control-lg" />
                        <div id="error_phone" class="mt-1 error">
                        </div>
                    </div>
                    <div class="form-outline m-3">
                        <label class="form-label"
                               style="font-weight: 500;">*Email</label>
                        <input id="txtEmail" value="@Model.Email" name="Email" type="text" class="form-control form-control-lg" />
                        <div id="error_email" class="mt-1 error">
                        </div>
                    </div>
                    <div class="form-outline m-3">
                        <label class="form-label" style="font-weight: 500;">
                            *Ngày sinh
                        </label>
                        <input id="txtDoB" value=@dob placeholder="" onblur="(this.type='text')" name="DoB" onfocus="(this.type='date')" type="text" class="form-control form-control-lg" />
                        <div id="error_dob" class="mt-1 error">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-4"></div>
                <div class="col-4 d-flex justify-content-center">
                    <button id="btnUpdate" class="btn btn-outline-primary btn-lg ms-2 mb-2">
                        Cập nhật thông tin
                    </button>
                </div>
                <div class="col-4"></div>
            </div>
        </form>
    </div>
</div>
@if (Model.PathImageAvatar != null)
{
    <input id="pathImage" hidden type="text" value=@Model.PathImageAvatar />
}
else
{
    <input id="pathImage" hidden type="text" value="https://as1.ftcdn.net/v2/jpg/03/53/11/00/1000_F_353110097_nbpmfn9iHlxef4EDIhXB1tdTD0lcWhG9.jpg" />
}




@*<div class="col-md-9 mt-2 p-0 px-1">
        <div class="card">
            <div class="card-header bg-primary text-center">
                <h3 class="card-title text-white">Thông tin cá nhân</h3>
            </div>
            <form id="formUpdate" asp-action="Edit" asp-controller="User" method="post">
                <input id="txtId" asp-for="Id" type="text" class="form-control form-control-lg"
                       value=@Model.Id hidden />
                <div class="form-outline m-3">
                    <label class="form-label" style="font-weight: 500; font-size:large">
                        *Họ
                    </label>
                    <input id="txtLastName" asp-for="LastName" type="text" class="form-control form-control-lg"
                           value=@Model.LastName />
                    <div id="error_last_name" class="mt-1 error">
                    </div>
                </div>
                <div class="form-outline m-3">
                    <label class="form-label" style="font-weight: 500; font-size: large ">
                        *Tên
                    </label>
                    <input id="txtFirstName" asp-for="FirstName" type="text" class="form-control form-control-lg"
                           value=@Model.FirstName />
                    <div id="error_first_name" class="mt-1 error">
                    </div>
                </div>
                <div class="form-outline m-3">
                    <label class="form-label" style="font-weight: 500; font-size: large ">
                        *Nickname
                    </label>
                    <input id="txtNickName" asp-for="NickName" type="text" class="form-control form-control-lg"
                           value=@Model.NickName />
                    <div id="error_nick_name" class="mt-1 error">
                    </div>
                </div>
                <div class="form-outline m-3">
                    <label class="form-label"
                           style="font-weight: 500; font-size: large">*Số điện thoại</label>
                    <input id="txtPhone" asp-for="Phone" type="text"
                           class="form-control form-control-lg"
                           value=@Model.Phone />
                    <div id="error_phone" class="mt-1 error">
                    </div>
                </div>
                <div class="form-outline m-3">
                    <label class="form-label"
                           style="font-weight: 500; font-size: large">*Email</label>
                    <input id="txtEmail" asp-for="Email" type="text" class="form-control form-control-lg"
                           value=@Model.Email />
                    <div id="error_email" class="mt-1 error">
                    </div>
                </div>
                <div class="form-outline m-3">
                    <label class="form-label" style="font-weight: 500; font-size: large">*Ngày sinh</label>
                    <div class="form-group col-sm-12 mb-10">
                        <input id="txtDoB" asp-for="DoB" class="form-control form-control-lg" type="date"
                               value=@dob />
                    </div>
                    <div id="error_dob" class="mt-1 error">
                    </div>
                </div>

                <div class="row mb-2 mx-4">
                    <div class="d-md-flex justify-content-around align-items-start mb-3 mt-3 py-2 col-md-6">
                        <h6 class="mb-0 me-4" style="font-weight: 500; font-size: large;">
                            *Giới tính:
                        </h6>
                        @if (Model.Gender == true)
                        {
                            <div class="form-check form-check-inline mb-0 me-4">
                                <input class="form-check-input" type="radio"
                                       id="femaleGenderRadio" value="option1" />
                                <label class="form-check-label" for="femaleGenderRadio">Nữ</label>
                            </div>


                            <div class="form-check form-check-inline mb-0 me-4">
                                <input class="form-check-input" type="radio"
                                       id="maleGenderRadio" value="option2" checked="true" />
                                <label class="form-check-label" for="maleGenderRadio">Nam</label>
                            </div>
                            <br />
                            <br />
                            <input asp-for="Gender" type="checkbox" id="checkGender" checked hidden>
                        }
                        else
                        {
                            <div class="form-check form-check-inline mb-0 me-4">
                                <input class="form-check-input" type="radio"
                                       id="femaleGenderRadio" value="option1" checked="true" />
                                <label class="form-check-label" for="femaleGenderRadio">Nữ</label>
                            </div>


                            <div class="form-check form-check-inline mb-0 me-4">
                                <input class="form-check-input" type="radio"
                                       id="maleGenderRadio" value="option2" />
                                <label class="form-check-label" for="maleGenderRadio">Nam</label>
                            </div>
                            <br />
                            <br />
                            <input asp-for="Gender" type="checkbox" id="checkGender" hidden>
                        }
                    </div>
                </div>
                <div class="d-flex justify-content-center mb-1">
                    <button id="btnUpdate" type="submit" class="btn btn-outline-primary btn-lg ms-2 mb-2">
                        Cập nhật thông tin
                    </button>
                </div>
            </form>
        </div>
    </div>*@